---
import { TransactionType } from "@lib/TransactionType.enum";
import { Icon } from "astro-icon/components";

interface Transaction {
  title: string;
  comment: string;
  date: string;
  quantity: number;
  type: TransactionType;
}

const transactions: Transaction[] = [
  {
    title: "Salario",
    comment: "Salario mensual",
    date: "2025-08-09",
    quantity: 3000,
    type: TransactionType.INCOME,
  },
  {
    title: "Alquiler",
    comment: "Alquiler piso",
    date: "2025-08-08",
    quantity: 800,
    type: TransactionType.EXPENSE,
  },
  {
    title: "Supermercado",
    comment: "Compras semanales",
    date: "2025-08-07",
    quantity: 150,
    type: TransactionType.EXPENSE,
  },
];

const iconByType = {
  [TransactionType.INCOME]: { icon: "arrow-up", color: "text-green-500" },
  [TransactionType.EXPENSE]: { icon: "arrow-down", color: "text-red-500" },
};

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<article class="card">
  <h2
    class="mb-4 flex items-center gap-2 text-base font-semibold text-white md:text-lg"
  >
    <Icon name="calendar" class="text-blue-400" />
    {title}
  </h2>

  <div class="hide-scrollbar flex max-h-[300px] flex-col gap-3 overflow-y-auto">
    {
      transactions.map((transaction) => {
        const iconConfig = iconByType[transaction.type];
        return (
          <div class="bg-dark-gray flex flex-col justify-between gap-4 rounded-lg p-4 sm:flex-row sm:items-center md:gap-0">
            <div class="flex items-center gap-3">
              <span
                class={`bg-opacity-20 flex h-8 w-8 items-center justify-center rounded-full ${iconConfig.color}`}
              >
                <Icon
                  name={iconConfig.icon}
                  class={`${iconConfig.color} h-5 w-5`}
                />
              </span>
              <div>
                <p class="font-medium text-white">{transaction.title}</p>
                <p class="text-sm text-gray-400">{transaction.comment}</p>
                <p class="text-xs text-gray-500">{transaction.date}</p>
              </div>
            </div>
            <p class={`text-lg font-bold md:text-xl ${iconConfig.color}`}>
              {`${transaction.type === TransactionType.INCOME ? "+" : "-"}${transaction.quantity.toFixed(2)} €`}
            </p>
          </div>
        );
      })
    }
  </div>
</article>
