---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  quantity: number;
  comment: string;
  icon: string;
  color: string;
}
const { title, quantity, icon, comment, color } = Astro.props;
---

<article class="card">
  <p class="mb-4 flex items-center justify-between gap-2">
    {title}
    <Icon name={icon} class={color} />
  </p>
  <h2 class={`text-2xl font-bold ${color}`}>{quantity} €</h2>
  <small class="text-gray-400">{comment}</small>
</article>
